<!DOCTYPE html>
<html>
  <head>
    <title>Rental</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="container wrapper">
      <% if current_user %> 
        <div class="sidebar" style="float: left;">
            <h1 style="text-align: center; color: #0d0000;"> Rental </h1>
            <% if current_user.PropertyManager? %>
              <a href="/properties/all"> All Properties </a>
              <a href="/properties/available"> Available Properties </a>
              <a href="/appointments"> Scheduled Appointments </a>
            <% elsif current_user.Renter? %>
              <a href="/properties/available"> Available Properties </a>
              <% if current_user&.current_occupancy.present? %>
                <a href="/properties/<%= current_user&.current_occupancy.property_id%>"> My Property </a>
              <% end %>
              <a href="/appointments"> Scheduled Appointments </a>
            <% elsif current_user.Receptionist? %>
              <a href="/properties/available"> Available Properties </a>
              <a href="/appointments"> Scheduled Appointments </a>
            <% end %>
            <%= button_to "Log out", destroy_user_session_path, method: :delete, data: { turbo: false } %>
        </div>
      <% end %>
      <div class="content" style="float: right;">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
